aniso8601==8.1.0
apipkg==1.5
argcomplete==1.10.0
astroid==2.5.1
attrs==20.3.0
beautifulsoup4==4.8.0
biopython==1.78
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
collection==0.1.6
contextlib2==0.6.0.post1
cycler==0.10.0
datefinder==0.7.1
dateparser==1.0.0
docx2txt==0.8
EbookLib==0.17.1
execnet==1.8.0
extract-msg==0.23.1
Flask==1.1.2
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
glob2==0.7
idna==2.10
IMAPClient==2.1.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
lazy-object-proxy==1.5.2
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
mock==4.0.3
more-itertools==8.7.0
mysql==0.0.2
mysqlclient==2.0.3
numpy==1.19.5
olefile==0.46
packaging==20.9
pandas==1.2.0
path==15.1.2
path.py==12.5.0
pdf2image==1.14.0
pdfminer==20191125
pdfminer.six==20200517
pdfplumber==0.5.27
pep517==0.10.0
Pillow==8.1.2
pip-tools==6.0.1
pluggy==0.13.1
py==1.10.0
pycryptodome==3.10.1
pylint==2.7.2
pymongo==3.11.2
PyMySQL==1.0.2
pyocr==0.8
pyparsing==2.4.7
PyPDF2==1.26.0
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PyQtWebEngine==5.15.2
pytesseract==0.3.7
pytest==6.2.2
pytest-shutil==1.7.0
python-dateutil==2.8.1
python-magic==0.4.22
python-pptx==0.6.18
pytz==2020.5
regex==2021.3.17
requests==2.25.1
simplified-scrapy==1.5.163
six==1.12.0
sortedcontainers==2.3.0
soupsieve==2.2
SpeechRecognition==3.8.1
symspellpy==6.7.0
termcolor==1.1.0
textract==1.6.3
toml==0.10.2
toolz==0.11.1
tzlocal==1.5.1
urllib3==1.26.3
Wand==0.6.6
Werkzeug==1.0.1
wget==3.2
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.3.7
